<div class="header">
  <div class="logo-container">
    <img src="https://loremflickr.com/32/32" class="logo" alt="" />
    <span>Course System</span>
  </div>

  <nav class="nav-container">
    <a href="#/home">Home</a>
    <a href="#/courses">Courses</a>
  </nav>

  <!-- <div class="search-container">
    <input class="search" type="text" placeholder="Search" />
    <button class="search-btn" onclick="" type="button">Search</button>
  </div> -->

  <div class="message-container">
    <a href="#/message">Message</a>
  </div>

  <div class="user-container">
    <div class="user-info-container">
      <a class="user-name" href="#/home">text</a>
      <img class="user-avatar" src="https://loremflickr.com/32/32" alt="" />
      <a class="user-log-out" href="javascript:;">Log out</a>
    </div>
    <div class="login-container">
      <a class="" href="#/login">Login</a>
    </div>
  </div>
</div>
<script type="module" src="/static/js/layoutHeader.js">
</script>

<style>
  @import '/static/styles/header.css';
</style>