.home {
  height: 100%;

  > div {
    height: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
  }

  section {
    padding: 6px 0 6px 12px;
    border: 1px solid #ccc;
    overflow: auto;

    h2 {
      margin-bottom: 10px;
    }

    h3 {
      margin: 12px 0 6px;
    }

    h2,
    h3 {
      & + div {
        padding-left: 0.25em;
      }
    }

    ul {
      list-style-type: circle;
    }
  }
}
